<table>
    <tr>
        <td colspan="2">Климов Максим Владимирович</td>
    </tr>
    <tr>
        <td>
        	<%= image_tag 'avatar/max.jpg' %>
        </td>
        <td>
        	<%= link_to 'Обо мне', "#" %></br>
        	<%= link_to 'Мои работы', "#" %></br>
        	<%= link_to 'Сделать заказ', "#" %></br>
        	<%= link_to 'Контакты', "#" %>
        </td>
    </tr>
</table>